doctype html
html
  head
    title!= title
    meta(charset='utf8')

    link(rel='stylesheet', type='text/css', href='cdn/css/plugins.min.css')
    link(rel='stylesheet', type='text/css', href='cdn/css/layout.min.css')
    block css

  body
    .header
      .side

      canvas.middle.logo

      .icons
        .icon
          span.oi(data-glyph='cog')
        .icon
          span.oi(data-glyph='data-transfer-upload')

      .side
    .back
      h1!= logo

    .content
      block content

    script.
      var Page = {
        logo: '#{logo}',
        title: '#{title}',
        color: '#{color}',
        navColor: '#{navColor}'
      }

    script(src='cdn/js/plugins.min.js')
    script(src='cdn/js/layout.min.js')
    block js